<h1>Lorem ipsum dolor sit amet</h1>
<form>

    <mat-form-field>
        <mat-label>Produkt</mat-label>
        <input matInput type="text" name="name" [(ngModel)]="newItemName">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Preis</mat-label>
        <input matInput type="number" name="price" [(ngModel)]="newItemPrice">
    </mat-form-field>
    
    <button mat-raised-button color="primary" (click)="addItem()"><mat-icon>add</mat-icon></button>
</form>

<mat-card *ngFor="let i of items">
    {{i.id}}
    {{i.name}} 
    {{i.price}} €
</mat-card>
